        /*
        将所有的段落字体设置为红色

        元素选择器
            根据标签名来选中指定的元素
            标签名{}
       */

       p{
           color:red;
       }


       /*
        将儿童相见不相识设置为红色

        id选择器
            根据元素的id属性选中一个元素
            #id属性值{}
       */


       #p_green{
           color:green;
       }


       /*
        将秋水。。和落霞。。设置为蓝色

        类选择器
            根据元素的class属性值选中一组元素
            .class属性值
       */

       .c_blue{
           color:blue;
       }
       .c_fontsize{
           font-size: 60px;
       }


       /*
        通配选择器
            选中页面中的所有元素
            *
       */

       *{
           color:yellow;
       }
